{{ define "main" }}

  <div class="title-div">
    <div class="title">
        <span>{{ .Title }}</span>
    </div>
    <div class="subtitle">
        <span>{{ .Content }}</span>
    </div>
     {{ range where .Data.Pages "Section" "profiles" }}
       {{ .Render "list"}}
     {{ end }}
  </div>

  {{ range where .Data.Pages "Section" "backgrounds" }}
    {{ .Render "list"}}
  {{ end }}

  <script type="text/javascript">
    var orientation = getOrientation();
    var b = document.getElementsByTagName("BODY")[0];
    b.setAttribute("orientation", orientation);
    window.addEventListener("resize", checkOrientationHere);

    var url = "{{ .Site.Params.unsplash_url }}?count=30&orientation="+getOrientation();

    getRandomImages(url);

    var x = document.querySelectorAll(".container_bg.local");
    var bg = document.getElementsByClassName("bg");
    console.log("Removing " + bg[0].childNodes.length + " child container_bg")
    while (bg[0].firstChild) {
      bg[0].firstChild.remove();
    }

    function getRandomImages(url) {

      console.log("Getting images from Unsplash: "+ url)

      fetch(url)
        .then((res) => res.json())
        .then((res) => {
          console.log(res);
          res.forEach(addImageContainer);
          processOrientation();
          next_bg();
        })
        .catch(function (error) {
          console.log("dataLoadingError:"+error);
        });


    }


      function addImageContainer(item) {
        var container_html = '<div class="container_bg fade_out" size="'+ item.width + 'x' + item.height +'">';
        container_html += '<div class="image image_fadedOut" refer="' + item.urls.regular + '" rel="nofollow" download=""></div>';
        container_html += '<div id="credits-box">';
        container_html +=   '<div class="out info" onclick="toggle_info()"><i class="fas fa-info-circle"></i></div>';
        container_html +=   '<div class="credits info fade_out" onclick="toggle_info()">';
        container_html +=     '<div class="font-credits">';
        container_html +=       '<span>Background credits: </span>';
        container_html +=       '<span>by <a href="https://unsplash.com/@' + item.user.username + '" target="_blank">' + item.user.name + '</a> </span>';
        container_html +=       '<span>available <a href="' + item.links.download_location + '" target="_blank">here</a></span>';
        container_html +=     '</div>';
        container_html +=   '</div>';
        container_html += '</div>';
        container_html += '</div>';
        var bg = document.getElementsByClassName('bg');
        bg[0].insertAdjacentHTML('beforeend', container_html);
      }

      function checkOrientationHere() {
          var currentOrientation = getOrientation();
          var b = document.getElementsByTagName("BODY")[0];
          if (currentOrientation.localeCompare(b.getAttribute("orientation"))){
            b.setAttribute("orientation", currentOrientation);
            var a = document.querySelector(".container_bg.bg_active");
            if (a) {
              a.classList.toggle("bg_active");
              a.classList.toggle("fade_out");
              a.classList.toggle("fading");
            }
            var url = "{{ .Site.Params.unsplash_url }}?count=30&orientation="+getOrientation();
            getRandomImages(url);
          }
        }

  </script>


{{ end }}
